# Logs
logs
yarn-debug.log*
*.log

# Dependencies
node_modules/

# Environment variables
.env

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# Optional npm cache directory
.yarn

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
out/*
